/* Allgemeine Body Einstellungen der Seite */
body {
    margin:0px;
    font-size:13px; 
    font-family:Arial, "Helvetica Neue", Helvetica, sans-serif;
    color:#EEEEEE;
    background-image:url('../pictures/header.jpg')
}

/* Anpassung der h1 Überschrift für die komplette Seite */
h1{
    font-size: 400%;
    margin: 1%;
}

/* Anpassung der h2 Überschrift für die komplette Seite */
h2{
    font-size: 200%;
    padding-bottom: 1%
}

/* Style des Header Bereichs */
header {
    padding: 1%;
    color: #EEEEEE;
    background-color: #121212;
    text-align: center;
    margin-bottom: 33%;
}

/* Style der Navigationspunkte */
header nav li { 
    margin: 0.1%;
    display: inline;
    font-size: 18px;
}

/* Style der Navigationsverlinkungen */
header nav a {
    text-decoration: none; 
    padding: 10px;
    font-weight: bold;
    border: 2px black solid;
    color: black;
    background-color: silver;
}

/* Style des Footer Bereichs */
footer {
    padding: 1%;
    color: #EEEEEE;
    background-color: #000000;
    text-align: center;
    font-weight: bold;
    list-style-type: none;

}

/* Style der Footerverlinkungen */
footer a {
    text-decoration: none; 
    color: #FFFFFF;
}

/* Style der dunklen Abschnitte */
.black {
    padding: 5% 10%;
    font-size: 150%;
    color: #EEEEEE;
    background-color: #121212;
}

/* Style der hellen Abschnitte */
.white {
    padding: 5% 10%;
    font-size: 150%;
    color: black;
    background-color: #EEEEEE;
}

.form {
    text-align: center;
    width: 100%;
    font-size: 14px;
    margin-top: 1%;
    margin-bottom: 4%;
    display: none;
}
.startform {
    text-align: center;
    width: 100%;
    font-size: 14px;
    margin-top: 1%;
    margin-bottom: 4%;
    display: block;
}

.output {
    margin-top: 2%;
    font-size: 14px;
    text-align: center;
    width: 100%; 
    height: 100%;
}

.box{   
    font-size: 14px;
    margin-top: 2%;
    display:inline-block;
    width: 20%;
    height: 400px;
    vertical-align:top;
}